@model MVC_Day_3.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Company Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter company name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Update</button><br/>
                <a asp-action="Index" class="btn btn-secondary btn-block mt-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
