<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pharmacy System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Day_3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha384-dyV2eNZJpI0i9Wx2ZMo5uG0enZ14xaZxUEvR2+fAiy9j/o3bsOZrbiFbb3x1Kib" crossorigin="anonymous" />
    <style>
      
    </style>
</head>
<body>

    <header>
        <partial name="_NavPartial" />
    </header>
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <span>© 2024 - Pharmacy System</span>
                </div>
                <div class="col-md-6 text-end">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a href="#!" class="ms-3">Terms</a>
                    <a href="#!" class="ms-3">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
