   
            
             
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Drug" asp-action="">
                            <i class="fas fa-capsules"></i> Drugs
                        </a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="">
                                <i class="fas fa-building"></i> Companies
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                                <i class="fas fa-user"></i> Welcome, @User.Identity.Name
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                        if (User.IsInRole("Admin") == true)
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Role" asp-action="AddRole">
                                    <i class="fas fa-sign-out-alt"></i> Add Role
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
                                <i class="fas fa-user-plus"></i> Register
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
