@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to ASP.NET MVC!</h1>
    <p class="lead">This is a template using Bootstrap.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
